
  .header{
    background-color: black;
  }
  .textCard{
    font-size: 70px;
    font-family: 'Jura', sans-serif;
  }
  .navbar{
    background-color: black;
  }
  .btn{
    margin-right: 1rem;
  }
  .textNav{
    text-decoration: none;
    margin-left: 1rem;
    font-size: 28px;
    font-family: 'Jura', sans-serif;
    color: white;
  }
  .filter{
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 1 1.25rem 1.5rem rgba(0, 0, 0, 0.15);
  }
  .footer{
    text-align: center;
    text-decoration: none;
    margin-top: 8rem;
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    color: white;
    background-color: black;
  }
  .paddingBody{
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .tittleH1{
    text-align: center;
    font-size: 100px;
    font-family: 'Jura', sans-serif;

  }
  .tittleH2{
    margin-bottom: 3rem;
    font-size: 28px;
    position: center;
  }
  .imgK{
    margin-top: 4rem;
    position: center;
    width: 5%;
  }